@import "tailwindcss";

@theme {
  --color-gray-950: #0a0a0a;
  --color-gray-900: #171717;
  --color-gray-800: #262626;
  --color-gray-700: #3f3f46;
  --color-gray-500: #71717a;
  --color-gray-50: #fafafa;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-emerald-500: #10b981;
  --color-emerald-400: #34d399;
  --color-red-400: #f87171;
  --color-red-700: #b91c1c;
  --color-red-200: #fecaca;
  --color-red-50: #fef2f2;
  --color-blue-600: #2563eb;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
}
